body{
    font-family: 'Roboto', sans-serif;
}

nav .nav-link{
    
    font-size:  15px;
}
nav .nav-item{
    margin-right: 1rem;
}

nav #log{
    font-size: 15px;
}

#log{
    font-size: 20px;
    padding: 10px;
}
body a {
    text-decoration: none;
}
#img-1{
    width: 700px;
    height: 300px;
}

#main .carousel-inner img{
   max-height: 70vh;
   object-fit: cover;
   filter:grayscale(50%) ;
}

#about {
    padding-top: 3rem;
    text-align: center;
    
}


#login{
    background: #ffe259;
    background: linear-gradient(to rigth, #ffa751, #ffe259);
}
.bg{
    background-image: url(imgs/perro_playa.jpg);
    background-position:center center;
    background-repeat: no-repeat;
}

#register{
    background-color:#ffe259;
}