<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
   
    <title>Perro fixa </title>
  </head>
  <body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg  mb-5 navbar-dark bg-dark">
            <div class="container-fluid">
            <img src="/static/imgs/PerroFixa.png" alt="" height="75px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto navbar-nav-scroll " style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#main">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#about">Sobre nosotros🤗</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#products">Productos🐶</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aporte">Tu aporte❤</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html">Tienda🛒</a>
                </li>
                
              </ul>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-light btn">
                <i class="bi bi-cart2"></i>
                  Carrito
                </button>
                
                <a id="log" class="nav-link active text-light" aria-current="page" href="login.html">Iniciar Sesion </a>
                <a id="log" class="nav-link active text-light" aria-current="page" href="register.html">Registrarse</a>
              </div>

               
            </div>
            </div>
        </nav> 
    </header>
    

    <main id="main">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" >
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/imgs/cama_perro2.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item">
                <img src="/static/imgs/hueso_perro.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
    
                </div>
              </div>
              <div class="carousel-item">
                <img src="/static/imgs/juguetes_perro.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            </div>
          </div>
    </main>
    
    <section id="about" class="py-5 my-5">
        <h1 class="  pb-4 mb-4 ">Sobre nosotros🤗</h1>
        <div class="container-fluid" >
            <div class="row">
                
                <div class="col pt-2" id="text-1" >
                  <h2>Todo por tu mascota</h2>
                  <p>Perro fixa es una tienda de accesorios y todo lo que necesita tu canino para su cuidado, somos un grupo de personas preocupadas por tu mascota
                    y sabemos que el amor por estos animales es lo mas importante por todas las compras de nuestros producots estaras ayudando tambien a una fundacion
                    para perros sin hogar. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt sunt voluptatum aut cum, laudantium dolor veritatis ipsum? 
                    Necessitatibus vero perspiciatis ducimus laborum aperiam rerum suscipit voluptas exercitationem? A, totam aliquam.
                  </p>
                </div>
              <div class="col px-0">
              <img src="/static/imgs/fundacion1.jpg" class="d-block w-100" alt="" id="img-1">
              </div>
            </div>
          </div>
    </section>

    <section id="products" class=" py-5 my-5">
        <div class="container">
            <div class="row">
              <div class="col text-center text-uppercase pb-4 ">
                <h2>Nuestros Productos🐶</h2>
                </div>  
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="/static/imgs/alimento.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p>
                              Variedad de marcas de alimentos para todo tipo de mascotas
                          </p>
                        </div>
                      </div>  
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="/static/imgs/juguetes.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p>
                              Variedad de juguetes para mantener entretenido a tu mascota
                          </p>
                        </div>
                      </div>  
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="/static/imgs/ropa.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p>
                              Variedad de tallas y marcas de ropa para mantener fixa a tu mascota
                          </p>
                        </div>
                      </div>  
                </div>
            </div>
        </div>
    </section>

    <section id="aporte" class="py-5 my-5">
        <h1 class="text-center  pb-4 mb-4">Tu aporte💖!</h1>
        <div class="container-fluid">
            <div class="row">
            <div class="col py-0">
                <img src="/static/imgs/perropaldick" class="d-block  " alt="">
            </div>
            <div class="col">
                <h2>Tu aporte!</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus sed quod consequuntur ad commodi, odit nobis reiciendis 
                obcaecati autem facere quas cupiditate inventore itaque, harum labore iusto aspernatur eum officiis.
                </p>
                <a class="btn-lg btn-dark d-grid gap-2 col-6" href="aporte.html" role="button">Realiza tu aporte ❤ !!</a>
            </div>
            </div>
        </div>
    </section>

    <section id="final">
        <div class="container">
            <div class="row">
                <div class="col-12 d-block">
                    <img src="/static/imgs/perro_gato.jpg" class="d-block w-100" alt="">
                </div>
            </div>
        </div>




    </section>

    <footer class="bg-dark text-white pt-4">
        <div class="container">
            <div class="row">
            <!--Logo-->
            <a href="" class="col-auto text-reset text-uppercase d-flex align-items-center pe-3 me-3">
                <img src="imgs/PerroFixa.png" alt="" class="img-logo" height=95px>
            </a>
            <!--Menu-->
            <ul class="col-1 list-unstyled pe-4">
                <li class="font-weight-bold text-uppercase">Menu</li>
                <li><a href="" class="text-reset">Aporte </a></li>
                <li><a href="" class="text-reset">Productos</a></li>
                <li><a href="" class="text-reset">Tienda</a></li>
                

            </ul>
            
            <ul class="col-auto list-unstyled ps-5 ms-5">
                <li class="font-weight-bold text-uppercase">Nuestras redes sociales</li>
                <li class="d-flex justify-content-between pt-3">
                    <a href="" class="text-reset"><i class="bi bi-facebook"></i></a>
                    <a href="" class="text-reset"><i class="bi bi-instagram"></i></a>
                    <a href="" class="text-reset"><i class="bi bi-whatsapp"></i></a>
                    <a href="" class="text-reset"><i class="bi bi-envelope-fill"></i></a>
                    
                </li>
            </ul> 
            <section class="col-auto">
                <form>
                  <!--Grid row-->
                  <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                      <p class="pt-2">
                        <strong>Recibir informacion</strong>
                      </p>
                    </div>
                    <!--Grid column-->
          
                    <!--Grid column-->
                    <div class="col-auto">
                      <!-- Email input -->
                      <div class="form-outline form-white mb-4">
                        <input type="email" id="form5Example21" class="form-control" />
                        <label class="form-label" for="form5Example21">Tu email</label>
                      </div>
                    </div>
                    <!--Grid column-->
          
                    <!--Grid column-->
                    <div class="col-auto">
                      <!-- Submit button -->
                      <button type="submit" class="btn btn-outline-light mb-4 ">
                        Mas informacion
                      </button>
                    </div>
                    <!--Grid column-->
                  </div>
                  <!--Grid row-->
                </form>
              </section>
            


            </div>
        </div>



    </footer>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  
  </body>
</html>