<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css%22%3E">

</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg  mb-5 navbar-dark bg-dark">
        <div class="container-fluid">
        <img src="imgs/PerroFixa.png" alt="" height="65px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto navbar-nav-scroll " style="--bs-scroll-height: 100px;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html">Volver al inicio</a>
            </li>
       
          </ul>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-light btn">
            <i class="bi bi-cart2"></i>
              Carrito
            </button>
  
            <a id="log" class="nav-link active text-light" aria-current="page" href="#">Iniciar Sesion </a>
            <a id="log" class="nav-link active text-light" aria-current="page" href="#">Registrarse</a>
          </div>
  
  
        </div>
        </div>
    </nav> 
  </header>

  <div class="px-4 pt-5 mt-5 pb-4 mb-4 text-center">
    
    <h1 class="display-5 fw-bold pt-4 mt-4">Tienda Perro FiXa</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">“No hay compañero tan fiel como un perro, ni un amigo mas regalon que un gato. Ningún amor se le puede comparar, ni el del humano más enamorado por otra persona”. “No importa lo malo que haya sido tu día. Si tienes una mascota, siempre te recibirá una cara feliz al llegar a casa”</p>
  
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <h4 class="text-light">Categorias:</h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Jueguetes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Comida</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accesorios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Accesorios</a></li>
              <li><a class="dropdown-item" href="#">Limpieza e higiene</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Ropa</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

  <!--Estas son las tarjetas-->
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="imgs/lentes.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lentes de sol</h5>
          <p class="card-text">Divertido y seguro. Lentes para perros y gatos. Diferentes tamaños y colores</p>
          <a href="#" class="btn btn-primary">Agregar al carro</a>
    
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="imgs/collar.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Collar fluor</h5>
          <p class="card-text">Collar fluor para perros y gatos, ideal para la noche</p>
          <a href="#" class="btn btn-primary">Agregar al carro</a>
    
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="imgs/chaleco.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chalecos con correa</h5>
          <p class="card-text">Chalecos con correa, diferentes tamaños y colores</p>
          <a href="#" class="btn btn-primary">Agregar al carro</a>
    
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="imgs/mochilas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mochilas de paseo</h5>
          <p class="card-text">Comoda mochila, especial para salir de paseo.</p>
          <a href="#" class="btn btn-primary">Agregar al carro</a>
    
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="imgs/bolsa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bolsas fecas</h5>
          <p class="card-text">Bolsa de fecas biodegradables</p>
          <a href="#" class="btn btn-primary">Agregar al carro</a>
    
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="imgs/calcetines.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Calcetines</h5>
          <p class="card-text">Comodos y antideslizantes. Diferentes tamaños, diferentes modelos y colores.</p>
          <a href="#" class="btn btn-primary">Agregar al carro</a>
    
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="imgs/pienetas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Peineta</h5>
          <p class="card-text">Manten a tu mascota libre de pelos muertos</p>
          <a href="#" class="btn btn-primary">Agregar al carro</a>
    
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="imgs/arena.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arena de gato</h5>
          <p class="card-text">Arena fina de gato </p>
          <a href="#" class="btn btn-primary">Agregar al carro</a>
    
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="imgs/juguetes2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Juguetes</h5>
          <p class="card-text">Mordedores, cuerdas, pelotas, etc...</p>
          <a href="#" class="btn btn-primary">Agregar al carro</a>
    
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="imgs/vestidos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vestidos</h5>
          <p class="card-text">Hermosos vestidos para tu regalona.</p>
          <a href="#" class="btn btn-primary">Agregar al carro</a>
    
        </div>
      </div>
    </div>
    
  </div>
</div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>